@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
  --red: rgb(255, 0, 102);
  --amber: rgb(255, 191, 0);
  --green: rgb(17, 255, 0);
  --blue: rgb(36, 95, 204);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10px by default */
}

body {
  box-sizing: border-box;
  padding: 2rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 500;
  margin: 2rem 0 4rem;
}

.project {
  display: flex;
  flex-direction: column;
  /* min-width: 20vw; */
  max-width: 60rem;
  margin: 0 auto;
  align-items: flex-start;
}

.todo-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.todo {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 4rem;
  margin: 1rem 0 0 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid transparent;
}

.todo::after {
  content: '';
  background: transparent;
  width: 0.3rem;
  height: 100%;
  margin-left: auto;
  border-radius: 0 2px 2px 0;
}

.todo__title {
  font-weight: 500;
}

.priority-1::after {
  background: var(--red);
}
.priority-2::after {
  background: var(--amber);
}
.priority-3::after {
  background: var(--green);
}

.todo:not(:last-child) {
  border-bottom: 1px solid rgb(186, 183, 183);
}

button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  line-height: 1;
  cursor: pointer;
}

.add-todo {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  width: 100%;
}

.add-todo__btn {
  font-size: 2.5rem;
  padding: 0.5rem 1rem;
}

.add-todo__title {
  flex-grow: 1;
}

input[type='text'] {
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0 1rem;
}

::placeholder {
  color: rgb(144, 144, 144);
}

.radio-priority {
  position: relative;
  cursor: pointer;
  padding-left: 3.5rem;
}

.radio-priority input {
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
}

.radio-priority__checkbox {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-55%);
  height: 15px;
  width: 25px;
  border-radius: 5px;
}

.radio-priority__checkbox--priority-1 {
  background-color: var(--red);
}
.radio-priority__checkbox--priority-2 {
  background-color: var(--amber);
}
.radio-priority__checkbox--priority-3 {
  background-color: var(--green);
}

.radio-priority input:checked ~ .radio-priority__checkbox {
  box-shadow: 0 0 0 2px grey;
}
