@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10px by default */
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
}

ul {
  list-style-type: none;
}
